<div class="container">
    <h3 class="logo">toDo List Logo </h3>
    <ul class="flex ul">
        <li class="li" [routerLink] ="['/home']" routerLinkActive="routerLinkActive">Home</li>
        <li class="li" [routerLink] ="['/todos']" routerLinkActive="routerLinkActive">ToDos</li>
        <li class="li" [routerLink] ="['/aboutus']" routerLinkActive="routerLinkActive">AboutUs</li>
        <li class="li" [routerLink] ="['/contactus']" routerLinkActive="routerLinkActive">ContactUs</li>
    </ul>
</div>